 #content-values-order
 {
	 width:100%;
	 height:auto;
	
	 
 }
 
 


  .title-values
  {	
		font-size:2em;

	 display:inline-block;
	 width:auto;
	 height:auto;
	 background-color:transparent;

	 }
 

@media(min-width:1px) and (max-width:700px)
{
	
	  .title-values
  {	
		font-size:1.5em;

	 display:inline-block;
	 width:auto;
	 height:auto;
	 background-color:transparent;

	 }


.canvas-title-logo-order
{
		width:auto;
		height:auto;
padding-top:8%;
margin-top:-25%;
	
}	
		 
	 
	 
	 }
 
 
 @media(min-width:701px)
 {
	 	  .title-values
  {	
		font-size:3em;

	 display:inline-block;
	 width:auto;
	 height:auto;
	 background-color:transparent;

	 }


.canvas-title-logo-order
{
		width:auto;
		height:auto;
padding-top:8%;
margin-top:-23%;
	
}	

	 
 }
 
.gournet-img
{
	display:inline-block;

}	
 




.values > a
{
	border:2px solid rgb(255,201,50);
	
	
}

.select-values
{
	background: rgb(255,201,50);
}

.unselect-values
{
	background: transparent;
}

 
 .icon-values
 {	
	width:40px;
	 top:40%;
	 left:46%;
	 transform:(-50%,-50%);
	 position:absolute;
	 display:flex;
 }
 
 

 	