html, body {
/*font-size: 40px;*/
margin:0; /* remove default margin */
padding:0; /* remove default padding */
width:100%; /* take full browser width */
height:100%; /* take full browser height*/
}


#header-home
	{
		width:100%;
		height:100%;
		min-height:80%;

		
				  background: url(../image/header-home-1.jpg) no-repeat center center fixed ; 
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		  width:100%;

	
		
	}
#header-home:after	
	{
		display : block;
		content:" ";
		clear : both;
	}	

@media (min-width:1px) and (max-width :1024px)
{
		.header-canvas-logo
{
	top:0;
	left:50%;
	position:absolute;
	width:300px;
	height:auto;
	background-color:transparent;
	transform: translate(-50%);
	display:none;
	
}

}

@media (min-width :767px)

{
	
		.header-canvas-logo
{
	top:0;
	left:50%;
	position:absolute;
	width:300px;
	height:auto;
	background-color:transparent;
	transform: translate(-50%);
	
	
}	
	
}
	
	
	
.header-order
	{
		
	
		

					padding:20px;
			border:2px solid rgb(148,172,128);
			border-radius:50px;
			color:rgb(148,172,128);			
			font-size:15px;
	
		
	}

 .header-order:hover 
	{
		text-decoration:none !important;
		color:rgb(148,172,128);
		font-weight:bold;
		border:5px solid rgb(148,172,128);

	}	


	
.header-chat
	{
		right:0;
		position:absolute;
		bottom:0;
		
		width:auto;
		height:auto;
		background-color:#0000ff;
		
	}

	.header-canvas-order
		{
			top:70%;
			left:50%;
			position:absolute;
			transform: translate(-50%, -50%); 
		}
	